@font-face {
    font-family: 'Roboto Light';
    src: url('/fonts/RobotoSlab-Light.ttf');
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('/fonts/RobotoSlab-Bold.ttf');
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('/fonts/RobotoSlab-Regular.ttf');
}


@font-face {
    font-family: 'Roboto Thin';
    src: url('/fonts/RobotoSlab-Thin.ttf');
}


.one-form-fieldset{
    border: 0;
    text-align: center;
    position: relative;
    background-color: rgba(205, 102, 59, 0.5);
    padding: 20px;
    border-radius: 5px;
    border: 0px;
    overflow: hidden;

}

.one-form-fieldset > div{

    position: relative;
    

}


.one-form-input-text{

    display: block;
    width: 100%;
    height: 6vh;
    border-radius: 4px;
    border-style: none;
    margin-top: 15px;
    font-size: 2.0em;
    padding: 3px;
    

}

.one-form-label{

    font-size: 2.0em;
    width: 25%;
    color: white;
    font-family: 'Roboto Bold';
    pointer-events: none;
    position: relative;

}


.one-form-label::after{
    pointer-events: all;
    clear: both;
    float: right;
    background-image: url('/img/left-arrow.png');
    background-size: 35px;
    display: block;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat; 
    content:"";
    cursor: pointer;
    

}