@font-face {
    font-family: 'Roboto Light';
    src: url('/fonts/RobotoSlab-Light.ttf');
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('/fonts/RobotoSlab-Bold.ttf');
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('/fonts/RobotoSlab-Regular.ttf');
}


@font-face {
    font-family: 'Roboto Thin';
    src: url('/fonts/RobotoSlab-Thin.ttf');
}

body {

    font-family: 'Roboto Light';
}

#header-always-visible {

    width: 100vw;
    background: black;
    height: 85px;
    position: fixed;
    top: 0;
    left: 0;

}

.titulo-padrao{

    font-family: 'Roboto Bold';

}


#content {

    width: 60vw;
    margin: 0 auto;
    top: 10vh;
    position: relative;

}

#logo-id {

    position: absolute;
    left: 10vw;

}