@font-face {
    font-family: 'Roboto Light';
    src: url('/fonts/RobotoSlab-Light.ttf');
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('/fonts/RobotoSlab-Bold.ttf');
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('/fonts/RobotoSlab-Regular.ttf');
}


@font-face {
    font-family: 'Roboto Thin';
    src: url('/fonts/RobotoSlab-Thin.ttf');
}

.form-fieldset {
    border: 0;
    text-align: left;
    padding: 20px;
    border-radius: 5px;
    border: 0px;


}

.form-fieldset>div {

    position: relative;
    float: left;

}

.form-label {

    font-size: 1.5em;
    color: black;
    font-family: 'Roboto light';
    pointer-events: none;
    position: relative;

}

.form-input-text {

    display: block;
    border-radius: 4px;
    border-style: none;
    margin-top: 15px;
    font-size: 1.5em;
    padding: 3px;
    border: 1px solid black;
    margin-bottom: 10px;

}




#logo-id {

    position: absolute;
    left: 10vw;

}

#header-always-visible {

    width: 100%;
    background: black;
    height: 85px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

}


body {

    font-family: 'Roboto Light';
    height: 100%;

}


footer {

    height: 30vh;
    margin: 0;
    padding: 0;
    width: 100%;
    background: black;
    margin: auto;
    bottom: 0;
}

#fitme-word {
    color: #00C642;
    position: relative;
}

.wrapper-grid {
    display: grid;

    grid-template-columns: repeat(12, 1fr);
}

#content {

    padding: 15px;
    width: 60vw;
    margin: 0 auto;
    margin-top: 15vh;
    top: 10vh;
    min-height: 35vw;
}


.titulo-padrao {

    font-family: 'Roboto Regular';
}

.sub-titulo-padrao {

    grid-auto-rows: auto;
    grid-row-start: 1;
    grid-row-end: 4;
}



.form-content {

    grid-row-start: 2;
    grid-row-end: 3;

    grid-column-start: 4;
    grid-column-end: 9;

    background-color: #F3F3F3;
    margin: auto;

    border-radius: 5px 5px 5px 5px;
}


.grid12 {

    grid-column-start: 1;
    grid-column-end: 13;
}