$font-stack: Helvetica,
sans-serif;
$primary-color: #333;


@font-face {
  font-family: Indie-flower;
  src: url(../fonts/IndieFlower.ttf);
}



body {
  font: 100% $font-stack;
  color: $primary-color;
}

#header-always-visible {
  background-color: rgb(87, 79, 90);
  height: 60px;
  z-index: 9999;
  position: fixed;
  width: 100%;
  top: 0px;
  padding-top: 10px;
}


.content-with-fixed-header{

  margin-top: 5.5em;
  transition: 0.2s;

}

#logo-id{
  transition: 0.4s;
}

.container-header {
  margin-right: auto;
  margin-left: auto;
  width: 64%;

}

.logo-text{
  font-family: Indie-flower;
  font-size: 3.0em;



}
