$font-stack: Helvetica,
sans-serif;
$primary-color: #333;
$imagedir:'/img/';


body {
  font: 100% $font-stack;
  color: $primary-color;
}

#header-always-visible {
  background-color: rgba(205, 102, 59, 0.9);
  height: 72px;
  z-index: 9999;
  position: fixed;
  width: 100%;
  top: 0px;

}