$font-stack: Helvetica,
sans-serif;
$primary-color: #333;



body {
  font: 100% $font-stack;
  color: $primary-color;
}

#header-always-visible {
  background-color: #564E5A;
  height: 60px;
  z-index: 9999;
  position: fixed;
  width: 100%;
  top: 0px;
  padding-top: 10px;
}


.content-with-fixed-header{

  margin-top: 5.5em;
  transition: 0.2s;

}

#logo-id{

  transition: 0.4s;

}
